*{
	margin: 0;
	padding: 0;
}

#vopros{
	width: 780px;
	height: 400px;
	margin: 0 auto;
	background: url(1517804939117199569.gif) no-repeat;
	background-size: contain;
}

#txt{
	font-size: 6em;
}

#nik{
	float: left;
	padding-left: 150px;
	padding-top: 100px;
}
#otvet{
	position: relative;
	width: 780px;
	height: 200px;
	margin: 0 auto;
}

#ssylka{
	width: 220px;
	height: 30px;
	background: url(pois.png) no-repeat;
	background-size: cover;
}

#search{
	text-decoration: none;
	color: black;
	padding-left: 20px;
	font-size: 1.5em;
	
}

#rikardo{
	float: left;
	position: absolute;
	padding-left: 300px;
	padding-bottom: 50px;
}

#ist{
	display: none;
	background: url(8FQ8n0jQ0.jpg) no-repeat;
	background-size: contain;
	width: 200px;
	height: 200px;
}

#istina{
	position: absolute;
	margin-top: 50px;
	margin-left: 40px;
	font-size: 1.4em;
	color: white;
	text-align: center;
	background-color: red;
}
